#header{
  background: url(../img/cover2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; 
  color: black;
  margin-top: -68px;
}


#top-header {
	font-size: 3em;
	line-height: 1.3;
	letter-spacing: .3px;
}


#pre-O {
	margin-top: 40px;
}


#pre-O a {
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 1.4em;
	letter-spacing: .5px;
	border: 1px solid white;
	padding: 15px 30px;
	transition: .3s;
		-webkit-transition-: .3s ;
		-moz-transition: .3s ;


}

#pre-O a i {
	padding-left: 10px;
}

#pre-O a:hover {
	background-color: white;
	text-decoration: none;
	color: black;
}

#second_section{
  height: 80vh;
}

#second_section h2 {
  text-align: left;
  font-size: 4em;
  line-height: 1;
  margin-top: 80px;
  /*margin-left: 80px;*/
  font-weight: 400;
  
}

#second_section p {
  text-align: left;
  margin-top: 40px;
  color: black;
  font-size: 1.2em;
  /*margin-left: 80px;*/
  letter-spacing: .5px;
  line-height: 1.5;
  
}
.ring {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 250;
  margin-left: 100px;
}

img {
  pointer-events: none;
}

#features {
  padding-top: 40px;
  /*margin-left: 80px;*/
}

#features a {
      text-decoration: none;
    color: black;
    font-size: 1.4em;
    display: inline-block;
    letter-spacing: .5px;
    border: 1px solid black;
    padding: 15px 30px;
    transition: .3s;
      -webkit-transition-: .3s ;
    -moz-transition: .3s ;

}

#features a i {
  padding-left: 10px;
}

#features a:hover {
  background-color: black;
  text-decoration: none;
  color: white;
}

/*section 3*/

#third_section {
 background-color: black;
}

#app {
  margin-right: 80px;
}

#app h2 {
  color: white;
  font-size: 4em;
  line-height: 1;
  margin-top: 80px;
  /*margin-left: 80px;*/
  font-weight: 400;
}

.padding-b {
  color: white;
  margin-top: 40px;
  font-size: 1.2em;
  /*margin-left: 80px;*/
  letter-spacing: .5px;
  line-height: 1.5;
}

#app_features {
  padding-top: 40px;
  /*margin-left: 80px;*/
}

#app_features a {
      text-decoration: none;
    color: white;
    font-size: 1.4em;
    display: inline-block;
    letter-spacing: .5px;
    border: 1px solid white;
    padding: 15px 30px;
    transition: .3s;
      -webkit-transition-: .3s ;
    -moz-transition: .3s ;

}

#app_features a i {
  padding-left: 10px;
}

#app_features a:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}


/*section 4th*/

.svgs {
  height: 130px;
  width: 130px;
}

#alertd_h1 {
  font-size: 3.5em;
  color: white;
  font-weight: 400;
  margin-bottom: 60px;
} 


#alerted_ul {
  margin-top: 60px;
  margin-left: 100px;
}

#alerted_ul li {
  display: inline-block;
  margin-right: 100px;
}

#alerted_ul li p {
  margin-top: 20px;
  text-align: center;
  font-size: 1.6em;
  color: white;
  line-height: 1.5;
  letter-spacing: .5px;
}

/*section 5*/

#team {
  background-color: black;
}


#team h2 {
  color: white;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: .5px;
}

#team h6 {
    color: white;
    font-size: 1.8em;
    letter-spacing: .5px;
    line-height: 2;
    margin-top: 20px;
}

#team h4 {
color: white;
font-size: 1.5em;
letter-spacing: .5px;
margin-top: 30px;
}

#team p {
  color: white;
  font-size: 1em;
  margin-top: 30px;  
}

#team_ul li{
  display: inline-block;
  margin-right: 40px;
}

/*secton 6*/

#works {
    background: url(../img/works_section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 420px;
  }

  #works ul {
    margin-top: 10px;
    list-style-type: none;
    margin-top: 90px;
    margin-left: 150px;
    
  }

   #works ul li {
  
   }

  #works h2 {
    color: white;
    font-size: 3em;
    font-weight: 400;
    padding-top: 40px;
  }

  #works h3 {
    color: white;
    margin-top: 20px;
  }

  #works p {
    color: white;
  }

  #works a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50%;
     padding: 10px 20px;
    margin: 20px;

  }

  #works a:hover {
    background-color: white;
    color: black; 
    text-decoration: none;
    
  }


  /*section 7*/

.bzns_h2 {
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: .3px;
}

.bzns_p {
  font-size: 1.5em;
  line-height: 1.5;
}

.subs {
  margin-top: 20px;
  padding: 40px;
}

.subs h2 {
  font-size: 1.8em;
  letter-spacing: .5px;
  font-weight: 300;
  padding-bottom: 10px;
 border-bottom: 2px solid black;
}

.subs h5 {
  font-size: 2em;
  color: black;
  font-weight: 200;
}

.subs ul {

  list-style-type: none;
 
}

.subs p {
  font-size: 1.2em;
}

.subs h6 {
  color: black;
  padding-top: 40px;
  font-size: 2em;
}



.monthly {
  background-color: white;
  padding: 30px 40px 100px 40px;
  margin-right: 10px;
  margin-bottom: 10px;

}

.monthly div {
  border-bottom: 2px solid black;
  width: 20px;
  margin: 0 auto;
  padding-top: 50px;
}

.quarterly {
  background-color: white;
  padding: 30px 40px 40px 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.annually {
  background-color: white;
  padding: 30px 40px 40px 40px;
}

/*section 8*/


.whole {
	margin-top: 40px;
}

.whole h1 {
	font-size: 3.5em;
	color: black;
	letter-spacing: .5px;;
	text-align: center;
	
}

.whole p {
	font-size: 1.5em;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.glide h2 {
	font-weight: 400;
}

.glide h6 {
	color: black;
	font-size: 1.2em;
}

.wht {
	color: white;
}

.cart {
	border: 1px solid black;
	text-decoration: none;
	padding: 10px;
	background-color: black;
	color: white;
}

.cart:hover {
	text-decoration: none;
	color: white;
}

.blide {
	margin-left: 170px;
}

.glide {
	margin-left: 20px;
}

.glide p {
	font-size: 1em;
	text-align: left;
}

.us_base {
	font-weight: 600;
	color: black;
	font-size: 1.2em;
}





/*bounce*/

.jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('img/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }
        .jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
        .jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }
        /* jssor slider thumbnail navigator skin 01 css *//*.jssort01 .p            (normal).jssort01 .p:hover      (normal mouseover).jssort01 .p.pav        (active).jssort01 .p.pdn        (mousedown)*/.jssort01 .p {    position: absolute;    top: 0;    left: 0;    width: 72px;    height: 72px;}.jssort01 .t {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}.jssort01 .w {    position: absolute;    top: 0px;    left: 0px;    width: 100%;    height: 100%;}.jssort01 .c {    position: absolute;    top: 0px;    left: 0px;    width: 68px;    height: 68px;    border: #000 2px solid;    box-sizing: content-box;    background: url('img/t01.png') -800px -800px no-repeat;    _background: none;}.jssort01 .pav .c {    top: 2px;    _top: 0px;    left: 2px;    _left: 0px;    width: 68px;    height: 68px;    border: #000 0px solid;    _border: #fff 2px solid;    background-position: 50% 50%;}.jssort01 .p:hover .c {    top: 0px;    left: 0px;    width: 70px;    height: 70px;    border: #fff 1px solid;    background-position: 50% 50%;}.jssort01 .p.pdn .c {    background-position: 50% 50%;    width: 68px;    height: 68px;    border: #000 2px solid;}* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {    /* ie quirks mode adjust */    width /**/: 72px;    height /**/: 72px;}



#bnce {
	padding-top: 130px;
}

#bnce i {
	color: white;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}



.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/*bounce*/
